* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: white;
}
body {
  background: linear-gradient(112.1deg, #202639 11.4%, #3f4c77 70.2%);
  min-height: 100vh;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* ---------navigation---------- */
.navbar {
  margin-top: 15px;
  padding: 20px;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App {
  position: relative;
  width: 100%;
  height: 100%;
}

.svg {
  position: absolute;
  margin-top: -50px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
nav {
  position: fixed;
  display: flex;
  align-items: center;
  width: 8rem;
  height: 100%;
  overflow: hidden;
  z-index: 50;
  transform: translateX(0rem);
  transition: transform 0.5s ease-in-out;
}

.nav-item-wrapper {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.nav-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60%;
  max-width: 3rem;
  max-height: 700px;
  min-height: 300px;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  margin-left: auto;
  margin-right: auto;
  border-radius: 9999px;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-between;
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.6);
}

.nav-item {
  cursor: pointer;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  width: 100%;
  max-width: 1340px;
  justify-content: space-between;
}
.greeting {
  margin-top: 20px;
}
.search-field {
  display: flex;
  justify-content: flex-end;
}

.spacer {
  height: 500px;
}

.active {
  background: rgba(174, 173, 173, 0.08);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(2.4px);
  border: 1px solid rgba(174, 173, 173, 0.3);
  border-radius: 12px;
}
/* ---------hero-------- */
.weather {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.hero {
  height: 300px;
  width: 100%;
  max-width: 1340px;
  padding: 20px;
}
.hero-card {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background: rgba(174, 173, 173, 0.08);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(2.4px);
  border: 1px solid rgba(174, 173, 173, 0.3);
  border-radius: 25px;
}

.hero-container-1 {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-width: 200px;
  height: 100%;
  margin: 18px;
}

.hero-container-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  height: 100%;
  margin-top: 10px;
}

.hero-container-2 > div > img {
  width: 200px;
}
.hero-container-2 > div > div {
  margin-top: -40px;
  margin-left: -40px;
}

.hero-card h1 {
  margin-bottom: 8px;
  max-width: 300px;
  max-height: 100px;
}
.hero-low-high {
  display: flex;
  flex-direction: row;
  margin-top: 18px;
  margin-left: 24px;
  gap: 6px;
  flex-wrap: wrap;
}

.hero-low-high {
  padding-right: 30px;
}

/* -----------forecast---------- */
.forecast {
  display: flex;
  height: 500px;
  flex-direction: row;
  width: 100%;
  max-width: 1340px;
  padding: 20px;
}

.forecast-uv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  width: 45%;
  height: 100%;
  margin: 6px;
}
.forecast-uv > div > h2 {
  font-size: 1.2rem;
  color: black;
}

.forecast-uv > div > h3 {
  font-size: 1rem;
  color: black;
}
.forecast-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  gap: 20px;
  height: 450px;
  width: 55%;
  margin-right: 40px;
}
.forecast-right {
  display: flex;
  height: 440px;
  width: 100%;
}

.forecast-graph {
  width: 100%;
  height: 60%;
  overflow-x: scroll;
}

.forecast-graph > div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.forecast-week {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 40%;
  margin: 10px 12px;
}

.forecast-week > div > p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.forecast-week > div > p {
  color: black;
}

.forecast-week-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.forecast-week-column > div {
  flex-direction: column;
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.forecast-week-column > div > h2 {
  color: black;
  margin-top: 10px;
}

.forecast-week-column > div > img {
  width: 35px;
}
.card-left-1 {
  display: flex;
  padding: 20px;
  height: 100%;
  flex-direction: row;
  background: rgba(255, 255, 255, 0.904);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(2.4px);
  border: 1px solid rgba(174, 173, 173, 0.3);
  border-radius: 25px;
}
.card-left-2 {
  display: flex;
  padding: 20px;
  height: 40%;
  flex-direction: row;
  background: rgba(61, 115, 148, 0.911);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(2.4px);
  border: 1px solid rgba(174, 173, 173, 0.3);
  border-radius: 25px;
}
.daily-rain-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 50%;
}
.daily-rain-right {
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.card-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  height: calc(100% - 40px);
  width: 100%;
  background: rgba(255, 255, 255, 0.904);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(2.4px);
  border: 1px solid rgba(174, 173, 173, 0.3);
  border-radius: 25px;
}

.forecast-sun-time {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 6px;
  width: 45%;
  height: 100%;
  margin: 6px;
}

.forecast-divider {
  border-left: 2px solid rgba(0, 0, 0, 0.664);
  height: 100%;
}

.forecast-sun-time > h2 {
  display: flex;
  align-items: center;
  justify-self: flex-end;
  font-size: 1.2rem;
  gap: 6px;
  color: black;
}
/* ---------News----------- */
.news {
  display: flex;
  height: 500px;
  width: 100%;
  justify-content: center;
  padding: 20px;
}
.news-section {
  display: flex;
  justify-content: center;
  width: 100%;
}
.headlines {
  height: 100%;
  max-width: 1340px;
}
.headlines > ul {
  height: 100%;
  justify-content: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}
.headlines > ul > li {
  height: 400px;
  display: flex;
  align-items: top;
}

/* ---------Notify----------- */
.notify {
  height: 300px;
  width: 100%;
  max-width: 1340px;
  padding: 20px;
}

/* ----------Mobile Devices----------- */
@media only screen and (max-width: 768px) {
  .navbar {
    margin-top: 1px;
  }

  .navbar h1 {
    font-size: 24px;
    margin-bottom: 6px;
    font-weight: 300;
  }
  .spacer {
    height: 1px;
  }
  .svg {
    display: none;
  }
  #outlined-search {
    width: 40%;
  }
  .hero {
    padding: 10px 20px;
  }

  .forecast {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    height: 620px;
    padding: 10px 20px;
  }
  .forecast-left {
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    height: 100%;
    max-height: 200px;
    width: 100%;
    margin-right: 0;
  }
  .forecast-right {
    flex-direction: column;
    height: 55%;
    width: 100%;
  }
  .card-left {
    width: 100%;
    height: 160px;
    margin-top: 0;
  }
  .card-right {
    width: calc(100% - 40px);
    height: 300px;
  }

  nav {
    transform: translateX(-4.8rem);
    transition: transform 0.5s ease-in-out;
  }

  nav:hover {
    transform: translateX(0);
  }
}

@media only screen and (max-width: 1524px) {
  .svg {
    margin-top: -500px;
  }
  nav {
    transform: translateX(-4.8rem);
    transition: transform 0.5s ease-in-out;
  }

  .nav.open {
    transform: translateX(0);
  }

  nav:hover {
    transform: translateX(0);
  }
}
