* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: white;
}
body {
  background: linear-gradient(112.1deg, #202639 11.4%, #3f4c77 70.2%);
  min-height: 100vh;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* ---------navigation---------- */
.navbar {
  padding: 20px;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  display: flex;
  width: 100%;
  max-width: 1340px;
  justify-content: space-between;
}
.greeting {
  margin-top: 20px;
}
.search-field {
  justify-content: top;
}
/* ---------hero-------- */
.weather {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.hero {
  height: 300px;
  width: 100%;
  max-width: 1340px;
  padding: 20px;
}
.hero-card {
  width: 100%;
  height: 100%;
  background: rgba(174, 173, 173, 0.08);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(2.4px);
  border: 1px solid rgba(174, 173, 173, 0.3);
  border-radius: 25px;
}
.hero-card h1 {
  margin: 0;
  padding: 20px;
}

/* -----------forecast---------- */
.forecast {
  display: flex;
  flex-direction: row;
  height: 350px;
  flex-direction: row;
  width: 100%;
  max-width: 1340px;
  padding: 20px;
}
.forecast-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  height: 350px;
  width: 55%;
  margin-right: 40px;
}
.forecast-right {
  display: flex;
  height: 350px;
  width: 100%;
}
.card-left {
  padding: 20px;
  height: 100%;
  background: rgba(174, 173, 173, 0.08);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(2.4px);
  border: 1px solid rgba(174, 173, 173, 0.3);
  border-radius: 25px;
}
.card-right {
  padding: 20px;
  height: calc(100% - 40px);
  width: 100%;
  background: rgba(174, 173, 173, 0.08);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(2.4px);
  border: 1px solid rgba(174, 173, 173, 0.3);
  border-radius: 25px;
}

/* ---------News----------- */
.news {
  height: 300px;
  width: 100%;
  max-width: 1340px;
  padding: 20px;
}

/* ----------Mobile Devices----------- */
@media only screen and (max-width: 768px) {
  .greeting {
    display: flex;
    justify-content: center;
  }
  .search-field {
    display: flex;
    justify-content: center;
  }
  .navbar {
    padding-top: 10px;
  }
  .container {
    flex-direction: column;
  }
  .navbar h1 {
    font-size: 20px;
    font-weight: 300;
  }
  #outlined-search {
    width: 40%;
  }
  .hero {
    padding: 10px 20px;
  }
  .forecast {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    height: 560px;
    padding: 10px 20px;
  }
  .forecast-left {
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    height: 100%;
    max-height: 200px;
    width: 100%;
    margin-right: 0;
  }
  .forecast-right {
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  .card-left {
    width: 100%;
    height: 160px;
    margin-top: 0;
  }
  .card-right {
    width: calc(100% - 40px);
    height: 300px;
  }
  .news {
    padding: 10px 20px;
  }
}
